*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

}
.container{
    background-color: #4f5ea8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-family:"Nunito", serif;

}
.container .box{
    background-color: white;
    width: 400px;
    height: 240px;
    padding: 1rem;
   border-radius: 4px;
   transition: .5s ease-in-out;
}
.box.active{
    height: 540px;
}
.box header{
    margin-bottom: 25px;
}
header h3{
    font-size: 30px;
    color: rgb(80, 77, 77);
    margin-bottom: 6px;
}
header p{
    color: rgb(164, 146, 146);
}
.box .input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field .text{
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: 1px solid grey;
    padding: .9rem .6rem;
    font-size: 17px ;
}
.input-field .generate{
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    border: none;
    padding: .9rem .6rem;
    font-size: 17px ;
    color: white;
    background-color: #bd68f0;
    text-transform: capitalize;
    transition: .3s ease-in-out;
      cursor: pointer;
}
.input-field .generate:hover{
    background-color: #9c3de8;
    font-weight: 600;
}
.box .qr-image{
    border: 1px solid rgb(228, 218, 218);
    opacity: 0;
    height: 280px;
    pointer-events: none;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box.active .qr-image {
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease-in-out;
    
}
.qr-image img{
    width: 200px;
    height: 200px;
}


















